@model IEnumerable<Entidad.Clientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2>Listado de Clientes</h2>
    @if (ViewBag.Rol == "Administrador") { 
<p>
    @Html.ActionLink("Agregar", "Create", "Clientes", null, new { @class = "btn btn-success btn-large" })
</p>
    }
    


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    <a onclick="ModalDeleteCliente(@item.Id)">Eliminar</a> |
                    <a onclick="location.href='/Autos/Index/' + @item.Id">Autos</a>
                </td>
            </tr>
        }

    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDeleteLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ModalDeleteLabel">Eliminar Cliente</h4>
            </div>
            <div class="modal-body">
                ¿Estas seguro que deseas eliminar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" onclick="EliminarCliente()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        var IdCliente = 0;

        function ModalDeleteCliente(id) {
            $('#ModalDelete').modal('show')
            IdCliente = id;
        }

        function EliminarCliente() {
            $.ajax({
                url: 'Clientes/Delete/' + IdCliente,
                type: 'POST',
                succes: function (response) {
                    $('#ModalDelete').modal('hide')
                    IdCliente = 0;
                },
                error: function (response) {
                    $('#ModalDelete').modal('hide')
                    IdCliente = 0;
                }
            }).done(function () {
                $('#ModalDelete').modal('hide')
                IdCliente = 0;
                location.reload();
            });
        }


    </script>



}

